/* NAVBAR */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #121212;
    padding: 15px 30px;
    align-items: center;
}

.logo {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.nav-links a:hover {
    color: #ff3b3b;
}

/* BANNER */
.banner {
    background: url('../img/banner-ofertas.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: #fff;
}

/* MARCAS */
.marcas {
    text-align: center;
    margin-top: 40px;
}

.scroll-marcas {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    padding: 20px;
}

.scroll-marcas img {
    height: 70px;
    filter: grayscale(100%);
    transition: 0.3s;
}

.scroll-marcas img:hover {
    filter: grayscale(0%);
}

/* PRODUCTOS */
.productos {
    padding: 40px 20px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.precio {
    font-size: 20px;
    color: #ff3b3b;
    font-weight: bold;
}

.btn {
    display: block;
    margin-top: 10px;
    padding: 8px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn2 {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background: #ff3b3b;
    color: #fff;
    border-radius: 8px;
    border: none;
}

/* PRODUCTO DETALLE */
.producto-container {
    display: flex;
    padding: 40px;
    gap: 40px;
}

.img-principal {
    width: 400px;
    border-radius: 10px;
}

.producto-info {
    flex: 1;
}

/* FOOTER */
.footer {
    margin-top: 60px;
    padding: 25px;
    background: #121212;
    color: #fff;
    text-align: center;
}